<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Participant</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <h1>Ajouter un nouveau Participant</h1>
        <form action="#" th:action="@{/addParticipant}" th:object="${participant}" method="post">
            <label for="nom"> Nom </label>
            <input type="text" th:field="*{nom}" id="nom" placeholder="nom">

            <label for="prenom"> Prénom </label>
            <input type="text" th:field="*{prenom}" id="prenom" placeholder="prenom">

            <label for="email"> Email </label>
            <input type="email" th:field="*{email}" id="email" placeholder="Email">

            <label for="datenaiss"> Date de naissance </label>
            <input type="date" th:field="*{datenaiss}" id="datenaiss">

            <label for="event" > Event </label>
            <select th:field="*{event}" id="event">
                <option value="">select event</option>
                <option th:each="event : ${events}" th:value="${event.num_event}" th:text="${event.name}"></option>
            </select>


            <button type="submit"> ENREGISTRER </button>

        </form>

    </body>


</html>
